/**
 *  White theme stylesheet
 */

body {
  margin: 0;
  text-align: center;
}

section {
  margin-top: 5em;
  display: none;
}

h1, h3 {
  margin-bottom: .1em;
  font-family: 'Lobster-Regular', 'Times New Roman', serif;
  font-weight: normal;
}
h1 {
  margin-top: 1.2em;
  font-size: 9em;
}
h3 {
  margin-top: .1em;
  font-size: 5em;
}

h2 {
  margin: .3em auto;
  font-family: 'PoiretOne-Regular', sans-serif;
  font-weight: normal;
  font-size: 4em;
  color: gray;
}

p, ul, ol, pre {
  margin: 0 auto;
  width: 50%;
  text-align: left;
}

p, ul, ol {
  font-size: 36px;
  font-family: 'Merriweather-Regular', 'Times New Roman', serif;
}

ul li *, ol li * {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 90%;
}

pre {
  padding: .5em;
  font-size: 2em;
  border-radius: 2px;
  background-color: #eee;
  box-shadow: 4px 5px #ccc;
}

.progress-bar {
  position: fixed;
  height: 6px;
  bottom: 0;
  background-color: royalblue;
}
