<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{{ title }}</title>
  <link href='https://fonts.googleapis.com/css?family=Lobster|Poiret+One|Merriweather' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" type="text/css" href="themes/white.css">
<!-- 
  <style type="text/css">
{{ css }}
  </style> -->
</head>
<body>
<!-- {{ content }} -->
<section id="slide0">
  <h1>Hello, world!</h1>
  <h2>Powered by GmHp</h2>
</section>
<section id="slide1">
  <h1>Nailed It!</h1>
</section>
<section id="slide2">
  <ul>
    <li>We do it,</li>
    <li>Because we can,</li>
    <li>Muggle!</li>
  </ul>
</section>

<div class="progress-bar"></div>

<script type="text/javascript">
(function() {
  var Slideshow = {
    main: function() {
      this.slides = document.getElementsByTagName('section');
      this.total = this.slides.length.toFixed();
      this.cur_id = 0;

      // init 1st slide
      this.present(this.cur_id);

      // slideshow keybindings
      window.onkeydown = function(e) {
        var key = (e.which) ? e.which : e.keyCode;

        // skip to next or last slide
        switch (key) {
          case 13:  // enter
          case 32:  // space
          case 39:  // right
          case 40:  // down
            e.preventDefault();
            this.cur_id++;
            break;
          case 8:   // backspace
          case 37:  // left
          case 38:  // up
            e.preventDefault();
            this.cur_id--;
            break;
          default:
            break;
        }
        this.present(this.cur_id);
      }.bind(this);
    },

    present: function(id) {
      var progress = this.cur_id / (this.total - 1) * 100.0;

      // limit slide id in range
      if (this.cur_id < 0) {
        this.cur_id++;
        return;
      } else if (this.cur_id >= this.slides.length) {
        this.cur_id--;
        return;
      }

      // hide all slides and specify the current one
      for (var i = 0; i < this.slides.length; i++)
        this.slides[i].style.display = 'none';
      document.getElementById('slide'+id).style.display = 'block';

      // update progress bar
      if (!progress)
        progress = 1;
      document.querySelector('.progress-bar').style.width = progress + '%';
    },
  };

  var show = Object.create(Slideshow);
  show.main();
})();
</script>
</body>
</html>
